.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
  }



/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 60%;
      }
    

}




/* # mobile */
@media only screen and (max-width: 767px) {

    
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 60%;
	  }
}