

.mobile-btn{
	display: none;
}

.mobile-img {
	display: none;
}

.mobile-img{
	max-width: 30%;
	margin: 0 auto;
}

.icofont-navigation-menu{
	display: none;
}


.course_table {
	display: table;
	width: 100%;
	height: 100%;
}

.card-responsive{
	display: flex;
	flex-direction: row;
}

.dashboard_container{
	max-width: 1300px;
	position: relative;
	padding-bottom: 2rem;

}

.student-card{
	padding-left: 1rem;
}

.course_table thead tr th{
	padding: 0.75rem;	
}


.course_table tbody tr td{
	padding: 0.83rem;
	}


	.contact-us #myMap {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

.response{
	color: #333;
}






.search-container {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.red{
	color: red;
}

.new_form{
	display: flex;
	padding: 0;
}

#search {
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    outline: none;
}

#searchBtn {
    background-color: #0d100e;
    color: #fff;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchBtn:hover {
    background-color: #45a049;
}

.admin_board{
	width: 100%;
}
/* =====================================

========================================*/  
/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
/* Header Sticky */
.image-container{
	display: none;
}

.mobile-img {
	display: block;
}


.contact-us .contact-us-form {
    padding: 171px 40px 40px 20px;
}

.max{
	max-width: 16%;
}

.sidebar {
	height: 250px;
}


.mobile-nav{
	display: none;
}

.section{
	padding:70px 0px;
}
.section-title {
	margin-bottom: 35px;
	padding: 0px 80px;
}
.section-title h2 {
	font-size: 25px;
	margin-bottom: 12px;
}
.section-title p {
	font-size: 13px;
}
.btn {
	padding: 11px 20px;
	font-weight: 400;
	font-size: 13px;
}
.breadcrumbs {
	padding: 60px 0;
}
.breadcrumbs h2 {
	font-size: 32px;
	font-weight:600;
}
.breadcrumbs .bread-list {
	margin-top: 5px;
}
.breadcrumbs ul li a {
	font-size: 14px;
	font-weight: 400;
}
#scrollUp {
	bottom: 55px;
}
.header .top-link li a {
	font-size: 13px;
}
.header .top-contact li a{
	font-size:13px;
}
.header .top-contact li {
	display: inline-block;
	margin-right: 25px;
	color: #2C2D3F;
	font-size: 13px;
}
.header .header-inner .get-quote {
	margin-top: 12px;
	display: none;
	margin: 0;
}
.header .nav li a {
	font-size: 13px;
	font-weight: 500;
	padding: 20px 4px;
}
.header .nav li .dropdown {
	width: 200px;
	left: -20px;
	top: 65px;
}
.header .nav li .dropdown li a {
	padding: 10px 15px;
	font-size: 13px;
}
.slider .single-slider {
	height: 380px;
}
.schedule {
	background: #fff;
	margin: 0;
	padding: 0;
	height: auto;
	padding: 70px 0;
	border-bottom:1px solid #eee;
}
.schedule .schedule-inner {
	transform: none;
}
.schedule .single-schedule.last{
	margin-top:30px;
}
.slider .single-slider{
	position:relative;
	background-position: 0;
}
.slider .single-slider:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#fff;
	opacity:0.5;
}
.slider .single-slider h1 {
	font-size: 28px;
	font-weight: 600;
	line-height: 35px;
}
.slider .single-slider .text {
	margin-top: 80px;
}
.slider .owl-carousel .owl-nav div {
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 4px;
}
.Feautes .single-features::before {
	display:none;
}
.Feautes .single-features {
	text-align: center;
	position: relative;
	padding: 10px 155px;
	margin: 10px 0;
}
.fun-facts.section{
	padding:70px 0;
}
.fun-facts .single-fun {
	margin: 20px 0;
}
.blog .single-news {
	margin: 15px 0;
}
.newsletter .subscribe-text {
	text-align: center;
	margin-bottom: 25px;
}
.newsletter .subscribe-form {
	text-align: center;
}
.contact-us #myMap {
	height: 400px;
}
.contact-us .contact-us-form h2 {
	font-size: 28px;
}
.contact-us .single-info {
	margin: 10px 0;
}
.pf-details .date ul li {
	margin-right: 25px;
	font-size: 13px;
}
.pf-details .body-text h3 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	margin-top: 30px;
}
.footer .single-footer {
	margin: 20px 0;
}
.footer .single-footer h2 {
	padding-bottom: 20px;
}
.footer .footer-top {
	padding: 65px 0px;
}


/* dashboard_container */
.sidebar {
	display: none;
	z-index: 1;
	position: absolute;
  }
  .sidebar.active {
	display: block;
  }
  /* Your burger menu styles */
  .navbar__right .navbar__burger {
	display: block;
	cursor: pointer;
	padding-left: 1rem;
	}

	.dashboard_container{
			max-width: 680px;
			position: relative;
			padding-bottom: 2rem;
	}

	.icofont-navigation-menu{
		display: block;
	}

	.table-responsive-991 {
		overflow-x: auto;
	  }


	  .table-responsive-991 table,
	  .table-responsive-991 thead,
	  .table-responsive-991 tbody,
	  .table-responsive-991 th,
	  .table-responsive-991 td,
	  .table-responsive-991 tr {
		display: block;
		width: 100%;
	  }

	  .table-responsive-991 thead {
		display: inline-flex;
	  }
	  .table-responsive-991 tbody tr {
		margin-bottom: 15px;
		border: 1px solid #ddd;
	  }
	  .table-responsive-991 td {
		border: none;
		position: relative;
	  }
	  .table-responsive-991 td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	  }

	  .course_table {
		display: flex;
		width: 100%;
		height: 100%;
	}
	.course_table thead tr th{
		padding: 0.75rem;	
	}

	
	.course_table tbody tr td{
		padding: 0.83rem;
		}

}



/* Mobile Screen */
@media only screen and (max-width: 767px) {

	.table-head{
		width: 100%;
	}

	.number {
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.contact-us .contact-us-form {
		padding: 151px 40px 40px 20px;
	}

	.sidebar {
		height: 250px;
	}

	.table-row{
		width: 100%;
	}

	
.card-credential{
    display: flex;
    flex-direction: column;
	padding-left: 2rem;

}

	h6{
		font-size: 1rem;
	}

	  .table-responsive-991 {
		overflow-x: auto;
	  }

	  
	  .course_table {
		display: table;
		width: 100%;
		height: 100%;
	}


	  .mobile-img{
		display: block;
	  }

	  .table-responsive-991 table,
	  .table-responsive-991 thead,
	  .table-responsive-991 tbody,
	  .table-responsive-991 th,
	  .table-responsive-991 td,
	  .table-responsive-991 tr {
		display: block;
	  }

	  .tbody{
		width: 100%;
	  }
	

	  .table-responsive-991 thead {
		display: inline-flex;
	  }
	  .table-responsive-991 tbody tr {
		margin-bottom: 15px;
		border: 1px solid #ddd;
	  }
	  .table-responsive-991 td {
		border: none;
		position: relative;
	  }
	  .table-responsive-991 td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	  }

	  .course_table thead tr th{
		padding: 0.75rem;	
	}

	
	.course_table tbody tr td{
		padding: 0.83rem;
		}


	
	  

	/* dashboard_container */
.sidebar {
	display: none;
	z-index: 1;
	position: absolute;
  }
  .sidebar.active {
	display: block;
  }
  /* Your burger menu styles */
  .navbar__right .navbar__burger {
	display: block;
	cursor: pointer;
	padding-left: 1rem;
	}

	.dashboard_container{
			max-width: 680px;
			position: relative;
			padding-bottom: 2rem;

	}

	.icofont-navigation-menu{
		display: block;
	}

		
	

	.image-container{
		display: none;
	}

	.header .logo {
		margin-top: 10px;
	}
	
	.max{
		max-width: 16%;
	}


	.mobile-btn{
		display: block;
		padding: 13px 25px;
		font-size: 14px;
		text-transform: capitalize;
		font-weight: 500;
		background: #c9a768;
		position: relative;
		box-shadow: none;
		display: inline-block;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		text-align: center;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		border: none;
		border-radius: 0;
		border-radius: 4px;
		color: #fff;
	}

	a.mobile-btn{
	color: #fff;	
}
	
.header.sticky{
	
}
.header .header-inner {
	width: 100%;
	z-index: 333;
	position: absolute;
	position: relative;
	padding-bottom: 20px;
	background: #fff;
}
.header .main-menu{
	display:none 
}
.header .header-inner .get-quote{
	margin: 0;
	padding: 0;
}
.mobile-nav .header-inner .get-quote .btn {
	color: #fff;
	display: block;
	margin: 0;
	padding: 1rem 2rem;
}


.header .header-inner .get-quote .btn {
	color: #fff;
	display: none;
	margin: 0;
	padding: 0;
}
.section{
	padding:50px 0px;
}
.section-title {
	margin-bottom: 30px;
	padding: 0px 20px;
}
.section-title h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
.section-title p {
	font-size: 13px;
}

.breadcrumbs {
	padding: 60px 0;
}
.breadcrumbs h2 {
	font-size: 32px;
	font-weight:600;
}
.breadcrumbs .bread-list {
	margin-top:10px;
}
.breadcrumbs ul li{
	font-size: 14px;
	font-weight: 400;
}
.breadcrumbs ul li a {
	font-size: 14px;
	font-weight: 400;
}
.btn {
	padding: 11px 20px;
	font-weight: 400;
	font-size: 13px;
}
.header .top-link {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}
.header .top-contact {
	float: none;
	text-align: center;
}
.slider .single-slider {
	height: 380px;
}
.schedule {
	background: #fff;
	margin: 0;
	padding: 0;
	height: auto;
	padding: 50px 0;
	border-bottom:1px solid #eee;
}
.schedule .schedule-inner {
	transform: none;
}
.schedule .single-schedule{
	margin:15px 0;
}
.slider .single-slider{
	position:relative;
	background-position: 0;
}
.slider .single-slider:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#fff;
	opacity:0.5;
}
.slider .single-slider h1 {
	font-size: 28px;
	font-weight: 600;
	line-height: 35px;
}
.slider .single-slider .text {
	margin-top: 80px;
}
.slider .owl-carousel .owl-nav div {
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 4px;
}
.Feautes .single-features .signle-icon i {
	font-size: 42px;
	left: 50%;
	margin-left: -40px;
	height:80px;
	width: 80px;
	line-height: 80px;
}
.Feautes .single-features::before {
	display:none;
}
.Feautes .single-features {
	text-align: center;
	position: relative;
	padding:0px;
	margin: 15px 0;
}
.Feautes .single-features h3 {
	padding-top: 105px;
	font-size: 20px;
}
.fun-facts.section{
	padding:70px 0;
}
.fun-facts .single-fun{
	margin:0;
	margin:15px 0;
	position:relative;
}
.fun-facts .single-fun {
	margin: 35px 0;
	padding-top: 60px;
	text-align: center;
}
.fun-facts .single-fun i {
	left: 50%;
	margin-left: -35px;
	top:0;
	position:absolute;
}
.fun-facts .single-fun .content {
	padding:0;
}
.blog .single-news {
	margin: 15px 0;
}
.newsletter .subscribe-text {
	text-align: center;
	margin-bottom: 25px;
}
.newsletter .subscribe-form {
	text-align: center;
}
.newsletter .common-input {
	height: 50px;
	width: 100%;
	margin: 0;
}
.newsletter .btn {
	height: 50px;
	line-height: 50px;
	width: 100%;
	margin: 0;
	margin-top: 14px;
}
.error-page .error-inner h1 {
	font-size: 80px;
}
.error-page .error-inner h1 span {
	font-size: 17px;
}
.contact-us #myMap {
	height: 300px;
}
.contact-us .contact-us-form h2 {
	font-size: 25px;
}
.contact-us .single-info {
	margin: 10px 0;
}
.login .form .btn {
	height:50px;
	line-height:50px;
	padding:0;
	padding:0px 20px;
}
.login .form {
	margin-top: -25px;
}
.register .form .btn {
	height:50px;
	line-height:50px;
	padding:0;
	padding:0px 20px;
}
.register .form {
	margin-top: -25px;
}
.contact-us .form .btn {
	height:50px;
	line-height:50px;
	padding:0;
	padding:0px 20px;
}
.contact-us .form {
	margin-top: -25px;
}
.pf-details .date ul li {
	margin-right: 25px;
	font-size: 13px;
}
.pf-details .date ul li {
	margin-right: 25px;
	font-size: 13px;
	display: block;
	text-align: left;
	margin-bottom: 8px;
}
.pf-details .date ul li:last-child{
	margin-bottom:0;
}
.pf-details .body-text h3 {
	font-size: 22px;
	font-weight: 600;
	color: #333;
	margin-top: 30px;
}
.footer .single-footer {
	margin: 15px 0;
}
.footer .single-footer h2 {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.footer .footer-top {
	padding: 50px 0px 60px 0;
}
.footer .single-footer.f-link ul {
	margin-bottom: 12px;
}
.footer .single-footer.f-link ul li a{
	display:inline-block;
}
.footer .copyright {
	padding: 20px 0;
}


}
/* Mobile Screen */
@media only screen and (max-width: 450px) {


	.number {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.slider .single-slider{
		position:relative;
		background-position: 75%;
	}


	.course_table thead tr th{
		padding: 0.75rem;	
	}

	.student-card {
		padding-left: 0;
	}


	.contact-us .contact-us-form {
		padding:30px 40px 40px 20px;
	}

	.sidebar {
		height: 250px;
	}
	
	.card-credential{
		display: flex;
		flex-direction: column;
		padding-left: 2rem;
	}

	.card-responsive{
		flex-direction: column;
	}

	.course_table tbody tr td{
		padding: 0.92rem;
		}

		.student-status {
			display: block;
			text-align: left;
		}
		
.section{
	padding:50px 0px;
}
.section-title {
	margin-bottom: 30px;
	padding: 0px 20px;
}
.section-title h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
.section-title p {
	font-size: 13px;
}
.btn {
	padding: 11px 20px;
	font-weight: 400;
	font-size: 13px;
}
.header .top-link {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}
.header .top-contact {
	float: none;
	text-align: center;
}
.slider .single-slider {
	height: 380px;
}
.schedule {
	background: #fff;
	margin: 0;
	padding: 0;
	height: auto;
	padding: 50px 0;
	border-bottom:1px solid #eee;
}
.schedule .schedule-inner {
	transform: none;
}
.schedule .single-schedule{
	margin:15px 0;
}
.slider .single-slider{
	position:relative;
}
.slider .single-slider:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#fff;
	opacity:0.5;
}
.slider .single-slider h1 {
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
}
.slider .single-slider p{
	font-size:13px;
}
.slider .single-slider .text {
	margin-top: 20px;
}
.slider .single-slider .button .btn{
	margin:0;
	width:100%;
	margin-bottom:10px;
}
.slider .single-slider .button .btn:last-child{
	margin-bottom:0;
}
.slider .owl-carousel .owl-nav {
	display:none;
}
.Feautes .single-features .signle-icon i {
	font-size: 42px;
	left: 50%;
	margin-left: -40px;
	height:80px;
	width: 80px;
	line-height: 80px;
}

.applicant-dashboard{
	padding: 1.5rem;
}

.Feautes .single-features::before {
	display:none;
}
.Feautes .single-features {
	text-align: center;
	position: relative;
	padding:0px;
	margin: 15px 0;
}
.Feautes .single-features h3 {
	padding-top: 105px;
	font-size: 20px;
}
.fun-facts.section{
	padding:70px 0;
}
.fun-facts .single-fun{
	margin:0;
	margin:15px 0;
	position:relative;
}
.fun-facts .single-fun {
	margin: 35px 0;
	padding-top: 60px;
	text-align: center;
}
.fun-facts .single-fun i {
	left: 50%;
	margin-left: -35px;
	top:0;
	position:absolute;
}
.fun-facts .single-fun .content {
	padding:0;
}
.blog .single-news {
	margin: 15px 0;
}
.newsletter .subscribe-text {
	text-align: center;
	margin-bottom: 25px;
}
.newsletter .subscribe-form {
	text-align: center;
}
.login .form .btn {
	height:50px;
	line-height:50px;
	padding:0;
	padding:0px 20px;
}
.register .form .btn {
	height:50px;
	line-height:50px;
	padding:0;
	padding:0px 20px;
}
.contact-us .form .btn {
	height:50px;
	line-height:50px;
	padding:0;
	padding:0px 20px;
}
.footer .single-footer {
	margin: 20px 0;
}
.footer .single-footer h2 {
	padding-bottom: 20px;
}
.footer .footer-top {
	padding: 65px 0px;
}
}