<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Sunnah Health College">
		<meta name="description" content="Sunnah Health College Mararaba New Karu Nassarawa">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Admission - Sunnah Health College</title>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		
		<!-- Favicon -->
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png')}}">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.css')}}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css')}}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css')}}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css')}}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
		
    </head>
    <body>
	

	
			<!-- Header Area -->
            <header class="header" >
                <!-- Topbar -->
                <div class="topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-5 col-12">
                                <!-- Contact -->
                                <ul class="top-link">
                                    <li><a href="{{ url_for('pages.contact') }}">Contact</a></li>
                                </ul>
                                <!-- End Contact -->
                            </div>
                            <div class="col-lg-6 col-md-7 col-12">
                                <!-- Top Contact -->
                                <ul class="top-contact">
                                    <li><i class="fa fa-phone"></i>+234 8082 147 327</li>
                                    <li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@sunnahhealthcollege.com</a></li>
                                </ul>
                                <!-- End Top Contact -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Topbar -->
                <!-- Header Inner -->
                <div class="header-inner">
                    <div class="container">
                        <div class="inner">
                            <div class="row">
                                <div class="col-lg-3 col-12">
                                    <!-- Start Logo -->
                                    <div class="logo">
                                        <a href="{{ url_for('pages.home') }}"><img src={{user_image4}}></a>
                                    </div>
                                    <!-- End Logo -->
    
    
    
                <!-- Mobile Nav -->
                <div class="mobile-nav">
                
                    
                    
                            </div>
                            <!-- End Mobile Nav -->
                    
                    
    
                                
                                </div>
                                <div class="links col-lg-7 col-md-9 col-12 ">
                                    <!-- Main Menu -->
                                    <div class="main-menu">
                                        <nav class="navigation ">
                                            <ul class="nav menu">
                                                <li class="active"><a href="{{ url_for('pages.home') }}">Home </a>
                                                </li>
                                                <li><a href="#">About Us <i class="icofont-rounded-down"></i></a>
                                                <ul class="dropdown">
                                                        <li><a href="{{ url_for('pages.vision') }}">Vision, Mission and Core Value</a></li>
                                                        <li><a href="{{ url_for('pages.history') }}">Brief History</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{{ url_for('pages.programmes') }}">Programmes </a>
                                                </li>
                                                    <li><a href="{{ url_for('pages.admission') }}">Admission </a></li>
    
                                                <li><a href="{{ url_for('pages.contact') }}">Contact Us</a></li>
    
                                                <a href="{{ url_for('pages.signinstudent') }}" class="mobile-btn">Portal</a>
                                            </ul>
    
                                            
    
                                        </nav>
                                    </div>
                                    <!--/ End Main Menu -->
                                </div>
                                <div class="apply col-lg-2 col-12">
                                    <div class="get-quote">
                                        <a href="{{ url_for('pages.signinstudent') }}" class="btn portal">Portal</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Header Inner -->
            </header>
            <!-- End Header Area -->
    
    
    
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Admission</h2>
							<ul class="bread-list">
								<li><a href="{{ url_for('pages.home') }}">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Admission</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
	
		<!-- Start Portfolio Details Area -->
		<section class="pf-details section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="inner-content">
						
							<div class="body-text">
								<h3>ADMISSION</h3>
								<p>  
                                    The school admits candidates for two different programs yearly. The 3 year basic nursing program which starts in
                                    September is meant for secondary school leavers, while the 3 Years basic nursing program which commences in
                                     March is also meant for ECC. School leavers. Application forms are advertised for and purchased at a prescribed fee 
                                     and candidates who fulfill the nursing council entry requirements are invited for an entrance examination.
                                </p>
<p>Candidates who score the desired entry points from the aforementioned assessments are selected for admission into the program(s).</p>


<div class="pt-5">
    <h5> ADMISSION PROCEDURE</h5>
    <p>
    The basic general nurse training is a general course open to young males and females of not less than 17 years of age at the time of admission (September)
    </p>
</div>



<div class="pt-5">
    <h5>ENTRY QUALIFICATION</h5>

    <p>
        a) Community Health Extention
        Holders of WASC or its equivalent with at least 5 credits passes including English, mathematics, physics, chemistry and biology at not more than 2 sittings.
        WASC, G.C.E or NECO results should not exceed 10years from the date of sitting for the examination.
    
    </p>


    <p>
        b) Pharmacy Technician
        Holders of WASC or its equivalent with at least 5 credits passes including English, mathematics, physics, chemistry and biology at not more than 2 sittings.
        WASC, G.C.E or NECO results should not exceed 10years from the date of sitting for the examination.
    
    </p>


    <p>
        c) medical Laboratory Technician
        Holders of WASC or its equivalent with at least 5 credits passes including English, mathematics, physics, chemistry and biology at not more than 2 sittings.
        WASC, G.C.E or NECO results should not exceed 10years from the date of sitting for the examination.
    
    </p>
</div>




<div class="pt-5">
    <h5>
        PERIOD OF INTAKE
    </h5>

    <p>
        Intake into program is September of every year and March for program examination.
    </p>
</div>


<div class="pt-5">
    <h5>
        VERIFICATION OF RESULT
    </h5>

    <p>
        All the results presented by students on admission will be verified on admission by the school and any student found to possess forged or unauthenticated result will be expelled.    </p>
</div>


<div class="pt-5">

    <h5>
        REGISTRATION AND SCHOOL FEES
    </h5>

    <p>
        Registration of new students usually last for a month from the day of resumption.
On the first day of registration students are expected to show evidence of payment of school fees as stipulated on the admission letter.
When collecting admission letters students are made to sign an undertaking which will be placed in their personal files as well as present the originals of their credentials.
    </p>


    <p>
        Students are expected to make other payments which include; uniform, record of training booklet, examination and stationeries, handbook, harmonized code of ethics for nurses in Nigeria etc.
No student will be registered without the full payment of fees.   
    </p>


    <p>
        Payment of school fees at a later date by students or sponsors will under no circumstances be entertained. Students are strongly advised to receive all fees from their sponsors before the registration days expire as defaulters will be ejected at the expiration of the last day of the exercise.
    </p>


    <p>
        No students will be registered with any information different from the one he/she gained admission with, unless substantial evidence has been forwarded to and approved by the principal.
    </p>


    <p>
        All students are required to complete the forms given to them. The approved training regulations and hostel regulation forms must be thoroughly read and understood and students must append their signature indicating their acceptance of all the contents therein. 
    </p>


    <p>
        A compulsory medical fitness examination must be carried out in government approved health institution on each student. The result must be submitted to the school and it must also come along with a medical fitness certificate and chest X-ray film.
    </p>


    <p>

        An orientation program is organized by the 2nd week of the registration process. It lasts for one week and all students (new) are expected to attend compulsorily.
During the orientation exercise, the principal introduces formally the teaching staff and other key officers to the new students; for the purpose of familiarization and offer advices to be of good behavior.
    </p>

    <span class="pt-3">
        Note that subsequent payment of school fees are made during the course of the training; basic student nurses in the month of November annually.
    </span>

</div>

<div class="pt-5">

    <h4> 
        REQUIREMENTS FOR REGISTRATION
    </h4>

    <ul class="pt-3">
        <ol>
            1) Birth certificate/declaration of age (original) 

        </ol>
        <ol>
           2) WAEC/NECO or NABTEB certificate (original) Please note that NABTED cannot be combined with WAEC or NECO result.
        </ol>
        <ol>
           3) Testimonial for 6 years (original)
        </ol>
        <ol>
           4) Admission letter (original)
        </ol>
        <ol>
          5)  Indigenization certificate (original)
        </ol>
        <ol>
           6) Photocopy of all credentials
        </ol>
        <ol>
         7)   4 passport photographs
        </ol>
    </ul>
</div>



<div class="share">
									<h4>Share Now -</h4>
									<ul>
										<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio Details Area -->
		
	<!-- Start Newsletter Area -->
    <section class="newsletter section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6  col-12">
                    <!-- Start Newsletter Form -->
                    <div class="subscribe-text ">
                        <h6>Sign up for newsletter</h6>
                        <p class="">Sign up for our newsletter to stay connected and receive the latest updates</p>
                    </div>
                    <!-- End Newsletter Form -->
                </div>
                <div class="col-lg-6  col-12">
                    <!-- Start Newsletter Form -->
                    <div class="subscribe-form ">
                        <form action="/newsletter" method="post" class="newsletter-inner" id="newsletter">
                            <input name="email" id="email" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required=""  type="text">
                            <button class="btn" type="submit">Subscribe</button>
                        </form>
                    </div>
                    <!-- End Newsletter Form -->
                </div>
            </div>
        </div>
    </section>
    <!-- /End Newsletter Area -->
    
  	
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<p>We are dedicated to fostering 
									a tradition of excellence in providing top-notch education
									 and unparalleled services in the fields of science, health, and technology.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-instagram"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-youtube-play"></i>
                                    </a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="{{ url_for('pages.home') }}"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
											<li><a href="{{ url_for('pages.history') }}"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
											<li><a href="{{ url_for('pages.admission') }}"><i class="fa fa-caret-right" aria-hidden="true"></i>Admission</a></li>
											<li><a href="{{ url_for('pages.vision') }}"><i class="fa fa-caret-right" aria-hidden="true"></i>why Sunnah</a></li>	
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
										
											<li><a href="{{ url_for('pages.programmes') }}"><i class="fa fa-caret-right" aria-hidden="true"></i>Programmes</a></li>
											<li><a href="{{ url_for('pages.contact') }}"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Open Hours</h2>
								<ul class="time-sidual">
									<li class="day">Monday - Friday <span>8:00-5:00pm</span></li>
									<li class="day">Saturday <span>9:00-12:30pm</span></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>Sign up for our newsletter to stay connected and receive the latest updates, news, and insights from Sunnah College of Science, Health, and Technology.</p>
								<form action="/newsletter" method="post" class="newsletter-inner" id="newsletter">
									<input name="email" id="email" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required=""  type="text">
									<button class="button" type="submit"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2023  |  All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->


		
		<script>
			$(document).ready(function () {
				$('.newsletter-inner').submit(function (e) {
					e.preventDefault(); // Prevent form submission
					var formData = {
						email: $(this).find('.common-input').val()
					};
					var url = $(this).attr('action'); // Get the form's action URL
					$.ajax({
						type: 'POST',
						url: url,
						contentType: 'application/json',
						data: JSON.stringify(formData),
						success: function (response) {
							// Handle success response
							alert(response.message);
							location.reload(); // Reload the page
						},
						error: function (xhr, status, error) {
							// Handle error response
							console.error(error);
							alert("An error occurred while sending your message. Please try again later.");
						}
					});
				});
			});
		</script>
		
				<!-- jquery Min JS -->
                <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/easing.js') }}"></script>
                <script src="{{ url_for('static', filename='js/colors.js') }}"></script>
                <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
                <script src="{{ url_for('static', filename='js/slicknav.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/niceselect.js') }}"></script>
                <script src="{{ url_for('static', filename='js/tilt.jquery.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/steller.js') }}"></script>
                <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
                <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>