<!doctype html>
<html class="no-js" lang="zxx">
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Braham Health College">
  <meta name="description" content="Braham Health College Mararaba New Karu Nassarawa">
  <meta name='copyright' content=''>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Dashboard - Braham Health College</title>

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Nice Select CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <!-- icofont CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.css') }}">
  <!-- Slicknav -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">
  <!-- Datepicker CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <!-- Magnific Popup CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

  <!-- Medipro CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/special.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>

<body>

  <!-- Nav -->
  <nav class="navbar">
    <div class="navbar__left">
      <img src="{{ user_image }}">
    </div>

    <div class="navbar__right d-flex align-items-center justify-content-between">
      <div class="navbar__burger">
        <i class="icofont-navigation-menu"></i>
      </div>
    </div>
  </nav>

  <div class="dashboard">
    <!-- Sidebar -->
    <aside class="sidebar">
      <ul>
        <li><a href="#" class="dash-btn sidebar-item {{ 'active' if active_section == 'dashboard' else '' }}" data-content="dashboard"><i class="icofont-home"></i> Dashboard</a></li>
        <li><a class="dash-btn" href="{{ url_for('pages.logoutadmin') }}" data-content=""><i class="icofont-exit"></i> Log Out</a></li>
      </ul>
    </aside>

    <main class="main-content applicant-dashboard">
      <div id="dashboard" class="content-section">
        <div class="container mt-4">
          <div class="row">
            <div class="col-12">
              <div class="row">
                {% for applicant_item in applicants %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                  <div class="grid-item card">
                    {% if applicant_item.image %}
                    <img src="{{ url_for('static', filename=applicant_item.image) }}" alt="Applicant Photo" class="img-fluid rounded-circle profile-pic">
                    {% else %}
                    <p>No Photo Available</p>
                    {% endif %}
    
                    <h2>{{ applicant_item.applicant.email }}</h2>
                    {% for form_item in applicant_item.forms %}
                    <p>Form Number: {{ form_item.form_number }}</p>
                    <p>Full Names: {{ form_item.fullnames }}</p>
                    <p>Contact Address: {{ form_item.contactaddress }}</p>
                    <p>Marital Status: {{ form_item.maritalstatus }}</p>
                    <p>State of Origin: {{ form_item.stateoforigin }}</p>
                    <p>Email Address: {{ form_item.emailaddress }}</p>
                    <p>Date of Birth: {{ form_item.dateofbirth }}</p>
                    <p>Last School Attended: {{ form_item.lastschoolattended }}</p>
                    <p>Phone Number: {{ form_item.phonenumber }}</p>
                    <p>Admission Status: <strong>{{ form_item.admissionstatus }}</strong></p>
                    <!-- Add more fields as needed -->
                    {% endfor %}
                    <div class="d-flex align-items-center justify-content-between pt-2">
                      <form class="approver" action="{{ url_for('pages.approve_applicant', email=applicant_item.applicant.email) }}" method="post">
                        <button class="btn" type="submit" name="action" value="approve">Approve</button>
                      </form>
    
                      <form class="approver" action="{{ url_for('pages.reject_applicant', email=applicant_item.applicant.email) }}" method="post">
                        <button class="btn" type="submit" name="action" value="reject">Reject</button>
                      </form>
    
                      <form class="approver" action="{{ url_for('pages.view_applicant_info', email=applicant_item.applicant.email) }}" method="get">
                        <button class="btn" type="submit">View</button>
                      </form>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
  </div>

  <!-- jquery Min JS -->
  <!-- Include jQuery before other scripts using it -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

  <!-- Include your other scripts -->
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/steller.js') }}"></script>
  <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- Your custom scripts -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
